.photo-grid {
  box-sizing: border-box;
  padding: 92px 0;
  max-width: 1184px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-template-rows: repeat(auto-fit, minmax(213px, max-content));
  gap: 16px;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(225px, max-content));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(264px, max-content));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 288px));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 216px));
    gap: 12px;
  }
}