.place__paragraphs {
  box-sizing: border-box;
  grid-area: paragraphs;
  align-self: start;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraphs {
    row-gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    max-width: 288px;
    justify-self: center;
  }
}