.place__website {
  grid-area: website;
  align-self: end;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    width: 100%;
    justify-self: center;
    align-self: start;
  }
}